.Contact {
    display: block;
    color: #fff;
    background-color: #d63031;
    padding: 10rem 0;
    font-family: sans-serif;
    font-weight: 700;
    & h2 {
        font-size: 2em;
        line-height: 1.35em;
    }
    & hr {
        margin-left: 30%;
        width: 40%;
    }
    &-link {
        display: flex;
    }
    & a {
        text-decoration: none;
        padding: 2rem 4rem;
        color: #fff;
    }
    & p {
        margin: 0;
    }
  }