.footer {
    color: #d63031;
    text-align: center;
    background-color: #fff;
    font-family: sans-serif;
    font-weight: 700;

    & p {
        padding: 2rem;
        margin: 0;
    }
  }
  
 
  