.Portfolio {
    display: block;
    color: #d63031;
    background-color: #fff;
    padding: 10rem 0;
    font-family: sans-serif;
    font-weight: 700;

    &-link {
        display: flex;
    }
    & hr {
        margin-left: 30%;
        width: 40%;
    }
    & a {
        text-decoration: none;
        padding: 2rem 4rem;
        color: #fff;
    }
    & img {
        height: 250px;
        width: 450px;
        margin: 0.2rem 3rem 1rem 1rem;
    }
    & p {
        margin: 0;
    }
  }