.Portfolio {
    display: block;
    color: #d63031;
    background-color: #fff;
    padding: 30px 5px;
    font-family: sans-serif;
    font-weight: 700;

    &-link {
        display: flex;
    }
    & a {
        text-decoration: none;
        padding: 2rem 4rem;
        color: #fff;
    }
    & img {
        height: 250px;
        width: 250px;
        margin: 0.2rem 3rem 1rem 1rem;
    }
    & p {
        margin: 0;
    }
  }