@import "./abstracts/mixins";

.portfolio {
    display: block;
    color: #d63031;
    background-color: #fff;
    padding: 10rem 0;
    font-family: sans-serif;
    font-weight: 700;

    &-links {
        display: flex;
        justify-content: center;
    }
    & hr {
        margin-left: 30%;
        width: 40%;
    }

    & p {
        margin: 0;
    }

    @include respond(tab-land) { // width < 900?
        &-links {
            flex-direction: column;
            align-items: center;
        }
    }
    
    @include respond(tab-port) {
        &-links{
            flex-direction: column;
            align-items: center;
        }
    }
  }