@import "./abstracts/mixins";

.projectitem {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        height: 250px;
        width: 450px;
        margin: 0.2rem 3rem 1rem 1rem;
    }

    & a {
        text-decoration: none;
        padding: 2rem 4rem;
        color:#d63031; 
        font-size: 1.5rem;
    }
    @include respond(phone) { // width < 900?
        & img {
            height: 250px;
            width: 300px;
            margin: 0.2rem 0 1rem 0;
        }
    }

    @include respond(tab-land) { // width < 900?
        & img {
            height: 250px;
            width: 350px;
            margin: 0.2rem 0 1rem 0;
        }
    }
    
    @include respond(tab-port) {
        & img {
            height: 250px;
            width: 350px;
            margin: 0.2rem 0 1rem 0;
        }
    }
}

.btn-text {
    color: #fff;
    text-align: center;
}