@import "./abstracts/mixins";

.skills {
    display: block;
    color: #fff;
    background-color: #d63031;
    padding: 10rem 0;
    font-family: sans-serif;
    font-weight: 700;
    & h2 {
        color: #333;
    }
    & hr {
        margin-left: 30%;
        width: 40%;
    }
    &-links {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    & img {
        padding: 2rem 4rem;
        color: #fff;
    }
    & p {
        margin: 0;
    }
    & li {
        padding: 2rem 2rem;
        font-size: 1.6rem;
    }

    @include respond(tab-land) {
        &-links{
            flex-direction: column;
        }
    }
    @include respond(tab-port) { // width < 900?
        &-links {
            flex-direction: column;
        }
    }
 }
