.Skills {
    display: block;
    color: #fff;
    background-color: #d63031;
    padding: 30px 5px;
    font-family: sans-serif;
    font-weight: 700;
    & hr {
        margin-left: 30%;
        width: 40%;
    }
    &-link {
        display: flex;
    }
    & img {
        padding: 2rem 4rem;
        color: #fff;
    }
    & p {
        margin: 0;
    }
  }